.panel-principal {
  background-color: #1a1a1a; /* Cambiamos el color de fondo a un negro profundo */
  padding: 50px 0;
}

.panel-principal h2 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff; /* Texto en color blanco */
}

.panel-principal p {
  font-size: 20px;
  text-align: center;
  color: #ccc; /* Texto en color gris claro */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.heading {
  text-align: center;
}

.navbar {
  background-color: #000; /* Fondo de la barra de navegación en negro */
  padding: 20px 0; /* Borde inferior en verde brillante */
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff; /* Texto en color blanco */
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px; /* Botones con bordes redondeados */
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #00ff00; /* Cambiamos el color de fondo al pasar el ratón sobre los botones */
}
